/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .header {
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, transparent, #6C63FF);
  }

.header .wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    display: flex;
  }
  .header .wrapper .nav{
    color: azure;
    text-decoration: none;
    display: block; /*幅と高さを持ったブロック要素*/
    line-height: 60px; /*ヘッダーの高さと同じ60px*/
    padding: 0 20px; /*各リスト項目の余白左右20px*/
  }

.footer {
    width: 100%;
    height: 40px;
    background: #6C63FF;
    opacity: 0.7;
    position: absolute;
    bottom: 0;
  } 

.footer p{
    color: azure;
    text-align: center;
  }

